<div *ngIf="categories.length > 0">
  <h2>Categories</h2>
  <ul>
    <li *ngFor="let category of categories">{{ category.name }}</li>
  </ul>
</div>

<div class="product-container">
  <div class="product-card" *ngFor="let product of products">
    <img *ngIf="product.imageUrl" [src]="'http://localhost:5000' + product.imageUrl" alt="{{ product.name }}">
    <div class="product-info">
      <h2>{{ product.name }}</h2>
      <p>{{ product.description }}</p>
      <p>{{ product.price | currency }}</p>
      <p *ngIf="product.category_name">Category: {{ product.category_name }}</p>

      <button (click)="onUpdateProduct(product)">Update</button>
      <button (click)="onDeleteProduct(product.id)">Delete</button>
    </div>
  </div>
</div>

